
.block {
    margin-bottom: 10px;
}

.nn-article {
    margin-bottom: 10px;
}

.nn-article-banner img {
    width: 100%;
}

.nn-media-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    padding: 0;
    margin-left: -16px;
}

.nn-media-list > li {
    width: 100%;
    padding-left: 16px;
    margin-bottom: 16px;
}

@media screen and (min-width: 30em) {
    .nn-media-list > li {
        width: 50%;
    }
}

@media screen and (min-width: 48em) {
    .nn-media-list > li {
        width: 25%;
    }
}

.nn-thumbnail {
    position: relative;
    height: 150px;
    padding: 8px;
    border: solid 1px #ddd;
    overflow: hidden;
    background: #fff;
    transition: all .3s ease;
}

.nn-thumbnail > img {
    width: 100%;
}

.nn-thumbnail-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    background: rgba(255,255,255,.7);
    transition: all .3s ease;
}

.nn-thumbnail-anchor:hover .nn-thumbnail {
    border-color: #aaa;
}

.nn-thumbnail-anchor:hover .nn-thumbnail-caption {
    background: #fff;
}

.nn-vid-container {
    max-width: 800px;
    margin: 0 auto 16px;
}

.nn-vid {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.nn-vid > video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
